@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

/* Полужирный PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
}

.main-container {
  flex-grow: 1;

}

.shadow-container {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 1);
  text-decoration: none;
  text-transform: uppercase;
}

/* main-index */
.main-index {
}

/* header */
.main-header {
  background-color: #ffffff;
  color: #000000;
}

/* navigation */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 345px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}



.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color:inherit;
  padding: 20px 17px;
  display: block;
}

/* navigation-user */
.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-user-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  width: 42px;
  height: 66px;
  border: solid red 1px;
}

 .navigation-user-item:nth-child(1) .navigation-user-link {
  background-image: url("../images/nav-icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* .navigation-user:nth-child(1) > .navigation-user-item > .navigation-user-link {
  background-image: url("../images/nav-icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
} */



/* page-container */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* big-logo-and-background-img-container */
.big-logo-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url("../images/index-top-background-rocks.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 83px;
}

/* logo */
.logo-large {
  display: block;
  margin: 0 auto;
}

.city-promo {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.city-promo-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

/* Список преимуществ */

.advantages {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
}

.advantages-item-pic {
  width: 800px;
}

/* цвета списка преимуществ */
.advantages-item-background-1,
.advantages-item-background-5  {
  background-color: rgba(131, 179, 211, 1);
}

.advantages-item-background-3  {
  background-color: rgba(255, 255, 255, 1);

}

.advantages-item-background-7  {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-background-2,
.advantages-item-background-4,
.advantages-item-background-6,
.advantages-item-background-8  {
  background-color: rgba(131, 179, 211, 0.12);
}

/* отступы внутри пунктов списка преимуществ */
.advantages-item-background-1,
.advantages-item-background-5 {
  padding-bottom: 87px;
  padding-top: 97px;
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-item-background-2,
.advantages-item-background-3,
.advantages-item-background-4 {
  padding-bottom: 79px;
  padding-top: 89px;
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-item-background-6,
.advantages-item-background-7,
.advantages-item-background-8 {
  padding-bottom: 108px;
  padding-top: 98px;
  padding-left: 75px;
  padding-right: 75px;
}

/* заголовки списка преимуществ */

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border: solid red 2px;
}

.advantages-item-background-1 .advantages-title,
.advantages-item-background-5 .advantages-title{
  border: solid yellow 2px;
  margin-top: 0;
  margin-bottom: 29px;
}

.advantages-item-background-2 .advantages-title,
.advantages-item-background-3 .advantages-title,
.advantages-item-background-4 .advantages-title{
  border: solid pink 2px;
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages-item-background-6 .advantages-title,
.advantages-item-background-7 .advantages-title,
.advantages-item-background-8 .advantages-title{
  border: solid red 2px;
  margin-top: 0;
  margin-bottom: 29px;
}

/* параграфы списка преимуществ */

.advantages-list p {
  border: solid red 2px;
  margin: 0;
}

.advantages-item-background-1 .number,
.advantages-item-background-5 .number,
.advantages-item-background-6 .number,
.advantages-item-background-7 .number,
.advantages-item-background-8 .number {
  border: solid black 2px;
  margin-bottom: 30px;
}


/* поиск отелей*/
.hotels-index {
  text-align: center;
  max-width: 100%;
  min-width: inherit;
}

.hotels-promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-promo-text {
  font-size: 22px;
  line-height: 26px;
}

.hotels-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(117, 98, 87, 1);
  text-decoration: none;
}

/* поиск отелей в index */
.hotels-index {
  text-align: center;
  padding: 91px 240px;
}

.hotels-index p{
 border: solid grey 2px;
 margin: 0;
}

.hotels-index .hotels-promo {
  border: solid red 2px;
  margin-top: 0;
  margin-bottom: 29px;
}

.hotels-index .hotels-promo-text {
  border: solid blue 2px;
  margin-top: 0;
  margin-bottom: 56px;
}
.hotels-search {
  margin: 0px;
}

/* рассылка в index */
.email-index {
  background-image: url("../images/index-bottom-background-rocks.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  max-width: 100%;
  min-width: inherit;
  padding: 94px 200px;
}

.email-index p{
   border: solid grey 2px;
   margin: 0;
}

.email-promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 29px;
}

.email-promo-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* форма внутри рассылки */
.email-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-top: 46px;
}


/* footer */

footer {
  background-color: #ffffff;
}

.page-footer-container {
  max-width: 100%;
  min-width: inherit;
  margin: 0 auto;
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: solid blue 2px;
}
/* социальные сети*/
.footer-social {
  border: solid blue 2px;
}

.footer-social-list {
  border: solid red 2px;
  /*max-width: 108px;*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  border: solid green 2px;
  width: 30px;
  height: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

/* телефон */
.footer-phone {
  width: 720px;
  text-align: center;
}

.footer-phone-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.footer-about {
  width: 115px;
  margin-right: 72px;
}

.page-footer a {
  text-align: center;
  text-decoration: none;
  color: #000000;
}







/* Стили отдельно для каталога */

/* img-background-container в страницах каталога */
.main-inner {
  border: solid red 5px;
}

.container-catalog {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url("../images/catalog-top-background-rocks.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
  margin-top: 35px;
  margin-bottom: 5px;
  margin-left: 71px;
  margin-right: 601px;
}

.catalog-hotels-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-hotels-filter-group {
  width: 150px;
  margin-left: 71px;
}

.form-buttons-container {
  display: flex;
  flex-direction: column;
}


/* breadcrumbs */
.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  display: flex;
  border: solid red 2px;
  margin: 0;
  margin-left: 71px;
  padding: 0;
  list-style-type: none;
}

/* link */
.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  border: solid black 1px;

}

.breadcrumbs-link:first-child {
  margin-right: 5px;
}

.breadcrumbs-link:last-child {
  margin-left: 5px;
}

.catalog-hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

/* сортировка */

.container-hotels-catalog-search {
  display: flex;
  justify-content: space-between;
  padding: 44px 71px;
  border: solid blue 2px;
}

.hotels-quantity {
  border: solid blue 2px;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: end;
  border: solid grey 2px;
  margin-bottom: 53px;
}

.sorting-container .button {
  border: solid grey 2px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}



/* секция с карточками товара и пагинацией */
.container-hotels-catalog-items {
 padding-left: 72px;
 padding-right: 72px;
}

/* список карточек товара */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: solid red 1px;
}

/* карточки товара */
.hotel-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border: solid orange 1px;
}

.hotel-card:nth-child(3n) {
;
}


/* карточки товара - link */
.hotel-card-link {
  text-decoration: none;
}

/* карточки товара - заголовок*/
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-transform: none;
  }

/* карточки товара - текстовое содержимое */
  .hotel-card-content {
    padding: 20px;
    display: grid;
    grid-template-columns: 140px 160px;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid green 1px;
  }

  /* карточки товара - тип гостиницы, цена */
.hotel-type,
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}
/* карточки товара - ссылка на страницу гостиницы */
.hotel-card-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
}
/* карточки товара - рейтинг */
.rating-result-resume {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  /* ??? background-color: #F2F2F2; ???*/
}
/* карточки товара - кнопки */
.hotel-save-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

/* пагинация */
.container-hotels-catalog-pagination {
  text-align: center;
  display: flex;
  border: solid black 3px;
  padding: 30px 72px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-pagination-load-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83B3D3;
  margin: auto;
}

.pagination-item {
  background-color: #ffffff;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  width: 55px;
  height: 55px;
  display: block;
  box-sizing: border-box;
  padding: 17px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* сортировка гостиниц */
.sorting-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  border: solid black 2px;
  width: 175px;
  height: 23px;
  margin-right: 51px;
  margin-left: auto;

}

.select-control {
  width: 160px;
  height: 48px;
  margin-left: auto;
}

/* рассылка в catalog */
.email-catalog {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  max-width: 100%;
  min-width: inherit;
  padding: 94px 200px;
}
